{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5 bg-light">
  <div class="main-body">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body align-items-center text-center">
            <!-- <div class="align-items-center text-center"> -->
              <i class="fas fa-user-tie fa-7x mt-5"></i>
              <div class="mt-3">
                <h4>{{user.user.username}}</h4>
                <p class="mb-1">{{user.role}}</p>
                {% if user.role == 'Investor' %}
                <p class="mb-1">Backed {{user.backed_projects}} projects</p>
                <p class="mb-1">Spent Rs.{{user.amount_spent}}</p>
                {% endif %}
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9">
                {{user.user.first_name}} {{user.user.first_name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9">
                {{user.user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 ">
                {{user.contact}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 ">
                {{user.address}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info " target="__blank"
                  href="#">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-title">
          <h3 class="px-3 pt-2">Created Projects</h3>
        </div>
        <div class="card-body pt-0">
          <div class="">
              <table class="table table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Views</th>
                    <th scope="col">Funding Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for project in projects%}
                  <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.category}}</td>
                    <td>{{project.created_date}}</td>
                    <td>{{project.views}}</td>
                    <td>{{project.funding_amount}}</td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}